
.container {
    width: 1280px;
    margin: 0 auto;
    padding: 63px 0 30px;
    font-family: Roboto, sans-serif;
}

.title {
    font-size: 80px;
    line-height: 94px;
    color: #000000;
    text-decoration: none;
}

.title span {
    color: #4BCAFF;
}

.header-list {
    background-color: #35444F;
    height: 69px;
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 40px;
}

.header-list li {
    height: 69px;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 28px;
    border: 1px solid #FFFFFF;
    border-top: none;
    border-bottom: none;
    padding: 0 40px;
    display: flex;
    align-items: center;
}

.header-list li:hover {
    background-color: #222F3A;
}

.main {
    display: flex;
    margin-top: 49px;
    column-gap: 52px;
}

.aside-list {
    width: 344px;
    list-style: none;
    border: 1px solid #000000;
}

.aside-list li {
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    height: 81px;
    display: flex;
    align-items: center;
    padding-left: 44px;
}

.aside-list li:hover {
    background-color: #DBDBDB;
    color: #000000;
    padding-left: 80px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-img {
    height: 529px;
    width: 100%;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-img img {
    transition: transform 0.3s ease;
}

.main-img:hover img {
    transform: scale(1.1);
}

.main-txt {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-top: 35px;
}

.footer {
    background-color: #63696E7A;
    height: 69px;
    margin-top: 54px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-list {
    display: flex;
    list-style: none;
    column-gap: 20px;
}

.footer-list li {
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}

.footer-list li:hover {
    color: #3181A6;
    text-decoration: underline;
}

.footer p {
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}


